@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: lighter;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: lighter;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
}
:root {
    --background:hsl(240, 3%, 15%);
    --cards:hsl(240, 3%, 13%);
    --black:hsl(0, 0%, 10%);
    --white:hsl(0, 0%, 100%);
    --font:hsl(34, 23%, 88%);
    --grey:hsl(0, 0%, 50%);
    --pink:hsl(0, 94%, 67%);
    --blue:hsl(213, 100%, 79%);
    --gold:hsl(221, 100%, 63%);
}
* {
    font-family:'JetBrainsMono';
    color:var(--font);
    text-align:left;
    hyphens:auto;
}
body {
    background-color:var(--background)!important;
}
h1 {
    font-weight:bold!important;
}

.my-6 {
    margin-top: 7.5vh!important;
    margin-bottom: 7.5vh!important;
}

.content {
    margin:20px 0;
    text-align:center;
}

.content-left, .content-left h1, .content-left h3, .content-left h4, .content-left p {
    margin: 20px 0;
    text-align: right;
}

.content-right, .content-right h1, .content-right h3, .content-right h4, .content-right p {
    margin: 20px 0;
    text-align: left;
}

.input-filters, .england {
    display: none;
}

.trigger-opt-item label{
    display: inline-block;
    opacity: 0.5;
    cursor:pointer;
}
input[name="filters"]:checked + label {
    opacity: 1;
}

@media screen and (min-width: 1000px) {
    .banner {
        width: 400px;
    }
}

img {
    max-width: 100%;
}

.projects, .skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.skills p {
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 12px;
    font-style: italic;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fa-svg {
    margin-bottom: -3px;
}

.fa-skills {
    font-size: 25px;
    padding: 20px;
    opacity:0.5;
}

.fa-socials {
    font-size: 13px;
    padding: 20px;
    opacity:0.5;
}

.fa-socials:hover {
    opacity:1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

#time_is_link {
    font-size: 12px;
}

#Vila_Nova_de_Gaia_z714 {
    font-size: 12px;
    font-weight: 600;
}

.description-block {
    border-radius: 10px;
    background-color: var(--background)!important;
}

.description-block:hover {
    background-color: var(--cards)!important;
    cursor:pointer;
}

.description-block p {
    line-height: 2.5;
}

.description-block span {
    background-color: var(--gold);
    padding: 3px 10px;
    margin: 20px 0;
    border-radius: 10px;
    color: var(--background)
}


.card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--background)!important;
}

.card:hover {
    background-color: var(--black)!important;
    cursor:pointer;
}

.card:hover i {
    color:#adbdd1;
}

.card:hover svg {
    filter: invert(90%) sepia(2%) saturate(5850%) hue-rotate(184deg) brightness(83%) contrast(96%);
}

.card-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card-link {
    display: block;
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

.logout-link {
    float: right;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently                                  supported by Chrome, Edge, Opera and Firefox */
}


.header-content {
    justify-content: space-between;
    flex-direction: column;
    height: 70vh;
    display: flex;
    position: sticky;
}

@media (min-width: 1024px) {
    .header-content {
        position: fixed;
        margin-right: 60%;
    }
    .header-content .row:nth-of-type(1) { 
        top: 0;
        position: sticky!important;
    }
    .header-content .row:nth-of-type(2) { 
        bottom: 0;
        position: sticky!important;
    }
}