@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
/*--c-bg: hsl(0, 0%, 5%); --c-text: hsl(0, 0%, 95%);#303030;*/

:root {
    --black: hsl(0, 0%, 5%);
}

* {
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
}

body {
    top: 0;
    left: 0;
    width: 99%;
    height: 97%;
    position: absolute;
    display: table;
}

h1, h2 {
    padding: 20px;
    position: fixed;
    justify-content: center;
    top: 0; 
    left: 0;
}

img {
    filter: grayscale(50%);
}

div {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

a:link, a:visited, a:hover, a:active, .clock24 {
    text-decoration: none;
}

figcaption {
    font-size: 10px;
    padding: 0;
}

nav {
    padding: 20px;
    position: fixed;
    justify-content: center;
    bottom: 0; 
    left:0;
}

.timezone {
    padding: 20px;
    position: fixed;
    justify-content: center;
    bottom: 0; 
    right: 0;
}

nav a, .fa-brands, .gi {
    padding: 10px;
}

nav a:hover, .fa-brands:hover, .gi:hover {
    color: rgb(22, 24, 126);
}